fastapi
uvicorn
python-multipart
pillow
opencv-python
numpy
python-dotenv
pydantic
supabase
PyJWT
requests
email-validator
torch
torchvision
timm
transformers
safetensors
truthscan-image-detector-client
h5py
keras
